@import "~normalize.css";

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  position: relative;
  &__photo {
    border: 16px solid #f6f9fd;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    margin: 98px 0 0 0;
  }
  &__greet {
    position: absolute;
    display: none;
  }
  &__description {
    color: #234361;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin: 0;
    &--span {
      color: #1070ca;
    }
  }
  &__info {
    color: #425a70;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin: 16px 0 0 0;
    &--span {
      color: #4da8ff;
      font-weight: 700;
    }
  }
  &__mail {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 24px;
    width: 240px;
    height: 48px;
    background: #4da8ff;
    border-radius: 64px;
    margin: 48px 0 56px 0;
    text-decoration: none;
  }
}

.div-header {
  margin-top: 40px;
}

.skills {
  background-color: #1070ca;
  color: #ffffff;
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px 0 0 0;
  }
}

.know {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  margin-top: 64px;
  margin-left: 16px;
  margin-right: 16px;
  &__emoij {
    font-size: 64px;
    line-height: 72px;
    margin: 0 0 16px 0;
  }
  &__list {
    list-style-type: none;
    margin: 0 16px;
    padding: 0;
    &--element {
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.list-bottom {
  padding-bottom: 88px;
}

.basic::before {
  content: url("/src/assets/img/small-tick.svg");
  margin-right: 12px;
}

.learn::before {
  content: url("/src/assets/img/small-tick-light.svg");
  margin-right: 12px;
}

.future::before {
  content: url("/src/assets/img/Bullet.svg");
  margin-right: 12px;
}

.projects {
  padding: 0 16px;
  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #234361;
    margin-top: 64px;
  }
  &__info {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #425a70;
    margin-top: 32px;
    margin-bottom: 46px;
  }
}

.window {
  margin: 0 auto;
  position: relative;
  width: 287px;
  height: 320px;
  background-color: #212528;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 88px;
  &__dots {
    height: 40px;
    background-color: #1e1e1e;
    border-radius: 16px;
    &--element {
      width: 40px;
      height: 8px;
      margin: 16px;
    }
  }
  &__img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 64px;
    left: 16px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #808082;
    list-style-type: none;
    padding-top: 72px;
    padding-left: 0px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    &--element {
      display: flex;
      justify-content: flex-end;
      margin-right: 4px;
    }
  }
  &__discription {
    display: grid;
    grid-template-columns: 102px 149px;
  }
}

.one {
  margin-bottom: 8px;
}

.two {
  margin-bottom: 24px;
}

.span-project {
  color: white;
}

.span-link {
  color: #14b5d0;
  &-underline {
    text-decoration: underline;
  }
}

.contact {
  background-color: #dbeaf7;
  padding: 0 16px;
  height: 512px;
  &__header {
    padding-top: 64px;
    color: #234361;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
  &__text {
    margin-top: 32px;
    color: #425a70;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  &__social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 56px;
    &--logo {
      margin: 0 auto;
      display: block;
      width: 24px;
      height: 48px;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    &--mail {
      margin-top: 64px;
      padding-bottom: 88px;
      background-color: #4da8ff;
      color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 24px;
      width: 240px;
      height: 48px;
      border-radius: 64px;
      text-decoration: none;
    }
  }
}

.logo {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  gap: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}

@media (min-width: 1440px) {
  body {
    width: 1440px;
  }

  .header {
    width: 982px;
    &__greet {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 80px;
      left: 609px;
      height: 72px;
      width: 230px;
      background-color: #1070ca;
      border-radius: 16px;
      color: #fff;
      font-weight: 200;
    }
    &__photo {
      width: 178px;
      height: 178px;
    }
    &__description {
      font-size: 32px;
      font-weight: 700;
    }
    &__info {
      font-size: 20px;
      font-weight: 300;
      line-height: 40px;
      margin-top: 34px;
    }
    &__mail {
      margin-top: -20px;
      margin-bottom: 176px;
    }
  }

  .div-header {
    display: flex;
  }

  .div-header::before {
    content: url("/src/assets/img/{.svg");
  }

  .div-header::after {
    content: url("/src/assets/img/}.png");
  }
}
